.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 5rem;

  .image {
    filter: drop-shadow(0 0 7px #00abf0);
    width: 600px;
    height: 600px;
    animation: floatImage 4s ease-in-out infinite;
  }

  .content {
    text-align: left;

    .textContent {
      font-size: 21px;
      margin-bottom: 1rem;
    }

    .btnCon {
      margin-top: 1.5rem;
    }
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;

    .image {
      width: 100%;
      height: 100%;
    }

    .content {
      .textContent {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;

    .imgCon {
      padding-top: 3rem;
    }

    .content {
      .textContent {
        font-size: 20px;
      }
    }
  }
}
