@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 12px 10px 12px;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 5rem;
  text-align: center;
  font-size: 16px;
  color: #081b29;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  width: 145px;
  box-shadow: 0 0 5px #00abf0;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.btn:hover {
  color: #00abf0;
}

.btn:nth-child(2) {
  background-color: transparent;
  color: #00abf0;
}

.btn:nth-child(2):hover {
  color: #081b29;
}

.btn:nth-child(2)::before {
  background-color: #00abf0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .app {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .app {
    padding: 0 1rem;
  }
}
